*{
	margin:0;
	padding:0;
}
#main {
	-webkit-column-width:302px;
	-moz-column-width:302px;
	column-width:302px;
}
.box{
	padding:15px 7px 0 7px;
}
.pic{
	border:1px solid #dddddd;
}
.pic img{
	width:260px;
	padding:10px;
	background: url(images/loading1.gif) no-repeat 50%;
}